{% extends "base.html" %}
{% block content %}

<br>
<hr>
<div>
    Виды трудоустройства - Панель управления
</div>
<div>
    <a type="button" class="btn btn-primary btn-sm btn-round" href="{% url 'access_engine:contract_create' %}" name="Создать новую сущность">Создать новую сущность</a>
    <hr>
    <form class="form-inline" action="{% url 'access_engine:search_contract' %}" method="GET">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Поиск по виду трудоустройства" aria-label="Search">
        <br>
        <button class="btn btn-primary btn-sm btn-round" type="submit">Поиск</button>
    </form>
</div>
<hr>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="table100-head">
                            <th class="column1>">Вид договора с сотрудником</th>
                            <th class="column2>">Автор</th>
                            <th class="column3>">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contract in contracts %}
                        <tr>
                            <td class="column1">
                                {{ contract.type }}
                            </td>
                            <td class="column2">{{ contract.created_by }}</td>
                            <td class="column3">
                                <div>
                                    <a href="{% url 'access_engine:contract_update' contract.id %}">Изменить</a>
                                </div>
                                <div>
                                    <a href="{% url 'access_engine:contract_delete' contract.id %}">Удалить</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}