{% extends "base.html" %}
{% block content %}

<br>
<hr>
<div>
    ИТ-Активы - Панель управления
</div>
<div>
    <a type="button" class="btn btn-primary btn-sm btn-round" href="{% url 'access_engine:itasset_create' %}" name="Создать новую сущность">Создать новую сущность</a>
    <hr>
    <form class="form-inline" action="{% url 'access_engine:search_itasset' %}" method="GET">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Поиск по всем полям кроме автора и комментария" aria-label="Search">
        <br>
        <button class="btn btn-primary btn-sm btn-round" type="submit">Поиск</button>
    </form>
</div>
<hr>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Название</th>
                            <th class="column2">URL админки</th>
                            <th class="column3">IP адрес админки</th>
                            <th class="column4">Ответственный</th>
                            <th class="column5">Комментарий</th>
                            <th class="column6">Автор</th>
                            <th class="column7">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for itasset in itassets %}
                        <tr>
                            <td class="column1">
                                {{ itasset.name }}
                            </td>
                            <td class="column2">{{ itasset.url_address }}</td>
                            <td class="column3">{{ itasset.ip_address }}</td>
                            <td class="column4">{{ itasset.owner.common_name }}</td>
                            <td class="column5">{{ itasset.comment }}</td>
                            <td class="column6">{{ itasset.created_by }}</td>
                            <td class="column7">
                                <div>
                                    <a href="{% url 'access_engine:itasset_update' itasset.id %}">Изменить</a>
                                </div>
                                <div>
                                    <a href="{% url 'access_engine:itasset_delete' itasset.id %}">Удалить</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}