{% extends "base.html" %}
{% load django_bootstrap5 %}
<hr>
{% block title %}
    {% if '/update/' in request.path %}
        Редактирование объекта
    {% elif '/create/' in request.path %}
        Добавление объекта
    {% else %}
        Удаление объекта
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col d-flex justify-content-center">
        <div class="card" style="width: 40rem;">
            <div class="card-header">
                {% if '/update' in request.path %}
                    Редактирование объекта
                {% elif '/create' in request.path %}
                    Создание объекта
                {% else %}
                    Удаление объекта
                {% endif %}
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if not '/delete' in request.path %}
                        {% bootstrap_form form %}
                    {% else %}
                        <article>
                            <div>
                                Есть связи удаляемого элемента со следующими элементами, вы точно уверены что хотите удалить?
                            </div>
                            <hr>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr class="table100-head">
                                        {% if '/company' in request.path %}
                                            <th class='column1'>Сотрудники</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </article>
                    {% endif %}
                    {% if not 'delete' in request.path %}
                        {% bootstrap_button button_type='submit' content='Сохранить' %}
                    {% else %}
                        {% bootstrap_button button_type='submit' content='Удалить' %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

