{% extends "base.html" %}
{% block content %}

<br>
<hr>
<div>
    Тех.аккаунты - Панель управления
</div>
<div>
    <a type="button" class="btn btn-primary btn-sm btn-round" href="{% url 'access_engine:techaccount_create' %}" name="Создать новую сущность">Создать новую сущность</a>
    <hr>
    <form class="form-inline" action="{% url 'access_engine:search_techaccount' %}" method="GET">
        <input class="form-control mr-sm-2" type="search" name="q" placeholder="Поиск по всем текстовым полям" aria-label="Search">
        <br>
        <button class="btn btn-primary btn-sm btn-round" type="submit">Поиск</button>
    </form>
</div>
<hr>
<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Имя аккаунта</th>
                            <th class="column2">Активен</th>
                            <th class="column3">Ответственный</th>
                            <th class="column4">ИТ-актив</th>
                            <th class="column5">Автор</th>
                            <th class="column6">Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for techaccount in techaccounts %}
                        <tr>
                            <td class="column1">
                                {{ techaccount.name }}
                            </td>
                            <td class="column2">{{ techaccount.is_active }}</td>
                            <td class="column3">{{ techaccount.owner.common_name }}</td>
                            <td class="column4">{{ techaccount.itasset.name }}</td>
                            <td class="column5">{{ techaccount.created_by }}</td>
                            <td class="column6">
                                <div>
                                    <a href="{% url 'access_engine:techaccount_update' techaccount.id %}">Изменить</a>
                                </div>
                                <div>
                                    <a href="{% url 'access_engine:techaccount_delete' techaccount.id %}">Удалить</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}